@import "tailwindcss";

body {
  @apply bg-gray-900 text-white
}

/* .app {
  text-align: center;
  padding: 30px;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.mode-badge {
  display: inline-block;
  padding: 8px 18px;
  border-radius: 20px;
  margin-bottom: 15px;
  font-weight: bold;
}

.mode-badge.normal {
  background: #3498db;
}

.mode-badge.smart {
  background: #9b59b6;
}

.mode-badge.auto {
  background: #1abc9c;
}

.mode-badge.emergency {
  background: #e74c3c;
}

.emergency-banner {
  background: red;
  color: white;
  padding: 15px;
  font-size: 1.2rem;
  border-radius: 10px;
  margin: 20px auto;
  width: 70%;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.6; }
  100% { opacity: 1; }
}

.lane-grid {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.loading {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 100px;
} */
